body {
    margin: 0;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .column {
    font-size: 4rem;
    color: white;
    font-weight: bold;
    font-family: Helvetica, sans-serif;
    text-align: center;
    padding: 1rem;
  }

  .blocks .column, .floats .column
  {
     width: calc(100%/3);
  }

  .floats {
    overflow: hidden;
  }

  .floats .column{
    float: left;
  }

  .blocks {
    font-size: 0;
  }

  .blocks .column{
    display: inline-block;
  }

  .flexbox {
    display: flex;
    flex-grow: 3;
  }

  .flexbox .column{
    flex-grow: 1;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(3, auto);
  }