* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-size: 20px;
	font-weight: bold;
    font-family: Helvetica;
    text-align: center;
   	display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
	background-color: #e67e22; 
	width: 97.2%;
	height: 10vh;
	text-align: center;
	padding-top: 2%;
	margin-top: 10px; 
	margin-left: 20px;
	margin-right: 20px;
}

.wrapper {
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;    
	display: flex;
}

.section_1, .section_2, .section_3 {
	height: 85vh;
	text-align: center;
	padding-top: 23%;
}

.section_1 {
	background-color: #1abc9c;
	width: 20%;
}

.section_2 {
	background-color: #27ae60;
	width: 50%;
}

.section_3 {
	background-color: #2ecc71;
	width: 30%;
}

.footer {
	background-color: #9b59b6;
	width: 97.2%;
	height: 5vh;
	text-align: center;
	padding-top: 0.8%;
	margin-top: auto;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 10px; 
}