* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-size: 1.2rem;
	font-weight: bold;
    font-family: Helvetica, sans-serif;
    text-align: center;
   	display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
	background-color: #e67e22; 
	height: 10vh;
	text-align: center;
	line-height: 10vh;
	margin-top: 1em; 
	margin-left: 1.2em;
	margin-right: 1.2em;
}

.main {
	margin: 1.2em;    
	display: flex;
}

.main__section1, .main__section2, .main__section3 {
	height: 85vh;
	text-align: center;
	line-height: 85vh;
}

.main__section1 {
	background-color: #1abc9c;
	width: 20%;
}

.main__section2 {
	background-color: #27ae60;
	width: 50%;
}

.main__section3 {
	background-color: #2ecc71;
	width: 30%;
}

.footer {
	background-color: #9b59b6;
	height: 5vh;
	text-align: center;
	line-height: 5vh;
	margin-top: auto;
	margin-left: 1.2em;
	margin-right: 1.2em;
	margin-bottom: 1em; 
}