
.container {
	width: 960px;
	margin: 0 auto;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	overflow-x: hidden; 
}

.wrp {
	display: flex;
}

.banerProduct {
	background: #1abc9c;
}

.footer {
	background:  #16a085;
}

.logo {   
	width: 170px;
	letter-spacing: -6px;
}

.logo__letter {
	font-size: 60px;
	font-weight: bold;
}

.logo__symbol {
	font-size: 50px;
	font-weight: bold;
	color: #1abc9c;
}

.menu {
	display: flex;
	justify-content: space-between;
}

.products, .aboutUs, .contactUs {
	text-decoration: none;  
	display: inline-block;
	font-size: 16px;
	margin-right: 3.5rem;
	text-transform: uppercase;

}

.nav__link {
	text-decoration: none;
	transition: all 0.4s ease;
	line-height: 5.8em;
}

.nav__link:hover {
	color: #16a085;
	text-decoration: underline;
}

.nav {
	font-size: 0;
}

.image {
	display: flex;
	flex-direction: space-around;
	justify-content: center;
	width: 50%;
	margin: 5% 0;
}

.iphone {
	height: 400px;
}

.offer { 
	width: 50%;
	color: #ecf0f1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: 15px;
}

.offer__info {
	margin-bottom: 8%; 
}

.btn {
	font-size: 20px;
	display: block;
	text-decoration: none;
	color: #ecf0f1;
	border-color: #ecf0f1;
	border-width: 2px;
	border-style: solid; 
	padding: 0.5em 1em;
	width: 155px;
	border-radius: 0.2em;
	text-align: center;
	transition: all 0.5s ease;
}

.btn:hover {
	color: #2980b9;
	border-color:#2980b9;
}

.title {
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 5%; 
}

.dev {
	display: flex;
	justify-content: center;
	text-align: center;
	padding-top: 7%;
	padding-bottom: 10%;  
}

.web__dev, .mobile__dev, .hightload {
	width: calc(100%/3); 
}

.web__dev i, .mobile__dev i, .hightload i {
	background-color: #1abc9c;
	border-radius: 50%;
	padding: 8%;
	margin-bottom: 5%;   
}

.web__dev h2, .mobile__dev h2, .hightload h2 {
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 5%;  
}

.footer .title {
	padding-top: 5%; 
	text-align: center;
}

.footer {
	color: #ecf0f1; 
}

.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.field {
	padding-left: 1%;
	width: 500px;
	height: 47px;
	display: block;
	margin-bottom: 2%;
	transition: all 0.2s ease;
}

.field:hover, .textarea:hover {
	border-width: 4px;
	border-color: #2980b9;
	border-style: solid;   
}

.textarea {
	width: 500px;
	height: 150px;
	display: block;
	transition: all 0.2s ease;
	padding-left: 1%;
	margin-bottom: 2%;
}

.male, .female, .other {
	width: 150px;
}

.wrp-radio {
	width: 450px;
	display: flex;
	justify-content: center;
	position: relative;
	left: -4.6%;
	margin-bottom: 2%; 
}

.radio {
	display: inline-block;
	width: 50px;
	margin: 0 auto;
	margin-bottom: 2%; 
}

.form {
	padding-bottom: 10%;
}

.checkbox {
	width: 500px;
	margin-bottom: 2%; 
}


.fa-code, .fa-android, .fa-cloud {
	color: #ecf0f1;
}

.fa-android {
	height: 99px;
	width: 99px;
}

.btn-alt {
	background: #16a085;
	color: white;
	width: 15rem;
}

.btn-top {
	position: relative;
	top: 50%;
	left: 20%;
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	border: 1px solid black;
	background-color: white;
	font-size: 1.7rem;
	text-align: center;
	line-height: 1.8rem;
	transform: rotate(90deg);
}

.scroll__top {
	background-color: white;
	opacity: 0.2;
	position: fixed;
	height: 100%;
	width: 5%;
	top: 0;
	left: 0;
	display: none;
}

.scroll__top:hover {
	opacity: 0.5;
}